<!DOCTYPE html>
<html lang="en">
    
<!-- Head -->
<%- include('./partials/head.ejs') %> 

<body>

    <!-- Header -->
    <%- include('./partials/header.ejs') %> 

    <main class="main-home">
        <section class="categorias-principales">
            <!-- <h3>Categorias principales</h3> -->
            <div class="products">

                <% products.forEach(products => { %>                    
                    <article>
                        <figure>
                            <img src="/images/<%= products.image %>" class="product_img" width="250px"
                                alt="<%= products.name %>">
                        </figure>
                        <div class="main-article">
                            <h4 class="description"><a href="/productDetail/<%= products.id %> "><%= products.name %></a></h4>
                        </div>
                    </article>
                <% }) %>

            </div>
        </section>
    </main> 

    <!-- Footer -->
    <%- include('./partials/footer.ejs') %>     
    
</body>
</html>